* {
    margin: 0;
    padding: 0;
}

/* header */
.mobile-header {
    background: white;
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.logo-img-offcanvas {
    height: 45px;
}

.contact-info {
    color: #000;
    display: flex;
    flex-direction: column;
}

.address_offcanvas {
    font-size: 14px;
    color: #333;
    font-weight: bold;
    margin: 0 !important;
}

/* category */

.block_categories_section {
    margin-top: 50px;
}

.category-item {
    position: relative;
    overflow: hidden;
    border-radius: 16px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-item h3 {
    font-size: 18px;
    font-weight: bold;
}

.category-item p {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}

.category-item a {
    color: #4057DA;
    font-weight: bold;
    text-decoration: none;
}

.category-item img {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

/* animation */
.category-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.2);
}

/* catalog */
.second_section_index_catalog {
    margin-top: 50px;
}

/* catalog > cards */
.product-card-catalog {
    background: white;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 310px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
    border: 1px solid #e0e0e0;
}

.product-card-catalog:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    border: 1px solid #4057DA;
}

.column_card_catalog {
    margin-bottom: 15px;
}

/* Кнопка "В корзину" - плавный переход цвета */
.btn-pm {
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-pm:hover {
    background-color: #1D2534 !important;
    transform: scale(1.05);
}

/* Заголовок карточки */
.product-header-catalog {
    display: flex;
    justify-content: end;
}

/* Изображение карточки */
.product-img-catalog {
    width: 150px;
    height: auto;
    margin: 10px auto;
}

/* Название продукта */
.product-name-catalog {
    font-size: 16px;
    margin: 10px 0;
}

/* Цена и кнопка */
.product-footer-catalog {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-price-catalog {
    font-weight: bold;
    font-size: 18px;
}

.catalog-pagination {
    display: flex;
    justify-content: start;
    margin-top: 20px;
    gap: 8px;
}

.pagination-button {
    background: white;
    border: none;
    color: #000000;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16px;
    font-weight: bold;
}

.pagination-button:hover {
    background: #4057DA;
    color: white;
}

.pagination-button.active {
    background: #4057DA;
    color: white;
    font-weight: bold;
}

.catalog-section-popular {
    margin-bottom: 70px;
}