* {
    margin: 0 auto;
    padding: 0 auto;
}

/* header */
.mobile-header {
    background: white;
    padding: 10px 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.logo-img-offcanvas {
    height: 45px;
}

.contact-info {
    color: #000;
    display: flex;
    flex-direction: column;
}

.address_offcanvas {
    font-size: 14px;
    color: #333;
    font-weight: bold;
    margin: 0 !important;
}

/* category */

.block_categories_section {
    margin-top: 50px;
}

.category-item {
    position: relative;
    overflow: hidden;
    border-radius: 16px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-item h3 {
    font-size: 18px;
    font-weight: bold;
}

.category-item p {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}

.category-item a {
    color: #4057DA;
    font-weight: bold;
    text-decoration: none;
}

.category-item img {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

/* catalog */
.second_section_index_catalog {
    margin-top: 50px;
}
